/config/
/m4/
/autom4te.cache/
/Debug/
/aclocal.m4
/config.log
/config.status
/configure
*Makefile
*Makefile.in
/Release/
*.o
*.lo
*/.deps/
*/.libs/
/.cproject
/.project
/.deps/
/.externalToolBuilders/
/.settings/
/build-aux/
